header{
    display: flex;
    flex-direction: column;
    max-width: 375px;
    width: 100%;
    .search{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items:center ;
    }
    .button{
        border:none;
        background-color: #2c2c2c;
        border-radius: 4px;
        margin:5px;
        box-sizing: 0px 0px 5px #2c2c2c;
        color:white;
        height: 30px;
    }
    input{
        max-width: 80px;
        height: 25px;
        margin: 5px;
        border-radius: 4px;
        padding-left: 5px;
    }
    .button-search{
        max-width: 150px;
        width: 100%;
    }
}
main{
    max-width: 375px;
    .courses-list{
        .course{
            border:1px solid #2c2c2c;
            border-radius: 4px;
            margin:5px;
            padding:10px;
            color:#2c2c2c;
            p{
                color:gray;
            }
        }
    }
}
.visible{
    display: block;
}
.invisible{
    display: none;
}